ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4F6367;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #595B5B;
}

.active {
    background-color: #9FA2A3;
}



.img-circle {
    border-radius: 10%;
}


img {
	padding-top: 25px;
}


h1 {

	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 70px;
	display: block;
	color: #4F6367;
}

h2 {

	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 55px;
	margin-top: -50px;
	color: #7A9E9F;
}

h3 {

	font-family: 'Encode Sans Condensed', sans-serif;
	text-align: center;
	font-size: 35px;

}

p {

	font-family: 'Encode Sans Condensed', sans-serif;
	text-align: center;
	font-size: 18px;
	line-height: 1.75em;
	margin: 2em;
	color: #4F6367;
}

