*{ margin:0; padding:0; box-sizing:border-box; 
  transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

body {
  background-image:url('../images/homepage-background.jpg');
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;
  font-size: 16px;
}
section {
  padding:5em 0;
}
#nav {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  padding: 4%;

}

#nav>a {
  color: white;
  display: block;
  text-decoration: none;
  float: left;
  padding: 0px 2em 0px 2em
}



h1  {

  font-family: 'Oswald', sans-serif;
  font-size:5.75em;
  line-height:1em;
  text-align: center;}

h1,h2,h3,h4,h5,h6 {
  line-height:1.25em;
  margin-bottom:.5em;
}

h2  {

  font-family: 'Oswald', sans-serif;
  font-size:4em;
  line-height:1.5em;
  text-align: center;}

h3  {

  font-family: 'Oswald', sans-serif;
  font-size:4em;
  line-height:1em;
  text-align: center;
  color: white;
}

p, table  {
  font-size: 1.25em;
  line-height:1em;
  font-family: 'Raleway', sans-serif;
}


table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
  font-size: 0;
}


#tour {

  background:rgba(0,0,0,.85);
  color: white;


}

#tour p {
    text-align: center;
    padding: 2em 0em 0em 0em;
}

#about {background:rgba(0,0,0,.85);}

#about p {

color: white;
font-size: 1em;
line-height: 1.4em;
padding: 0 0 1em 0 

}

td {

  width: 65%;
}

tr  {

  height: 2em;
  color: white;
}

a {
color: #00789b;
font-weight: bold;
}

#about div {
  max-width:1200px;
  margin:auto;
}
#media>div>div {
  overflow:hidden;
  padding: 0 0 56.25%;
  position:relative;
  height: 0;
  margin: .5%;
}

#media iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video {
    width: 50%;
    float: left;
}
#about img {
  float:left;
  line-height:0;
  overflow:hidden;
  position:relative;
  width:37%;
  display: block;
}

#about p {
  float:right;
  width: 60%;
  padding: 1em
}

#footer {
  
  background-color: black;
  font-family: 'Raleway', sans-serif;
  padding: 4%;
  color: white;
  text-align: center;

}

#footer>a {
  color: white;
  display: block;
  text-decoration: none;
  float: left;
  padding: 20px;
}